@model IEnumerable<CategoryDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Kategoriler</h1>
<a class="btn btn-primary" asp-controller="Categories" asp-action="Create">Ekle</a>
<table class="table table-bordered">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.Name</td>
                <td><a class="btn btn-info" asp-controller="Categories" asp-action="Update" asp-route-id="@item.id" >Güncelle</a>
               <a class="btn btn-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.id">Sil</a></td>
            </tr>
        }
    </tbody>
    
</table>
